<!doctype html>
<html lang="{{ config.siteLanguage }}">
  <head>
    {% render 'head', current:current %}
  </head>
  <body class="slug--{{ current }}">
  
    <h1>{{ title }}</h1>
    
    {% render 'foot', current:current %}
  </body>
</html>