<!doctype html>
<html lang="{{ config.siteLanguage }}">
  <head>
    {% include 'head' %}
  </head>
  <body class="slug--{{ current }}">
  
    <h1>Hello World</h1>

    {% include 'foot' %}
  </body>
</html>